<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Prediction</title>
    <script>
        async function checkDatabaseConnection() {
            try {
                const response = await fetch('/test-db-connection');
                const data = await response.json();
                document.getElementById('db-status').innerText = data.status;
            } catch (error) {
                document.getElementById('db-status').innerText = "Error: Unable to connect to the server.";
            }
        }
    </script>
    <script>
        async function retrainModel() {
            try {
                const response = await fetch('/retrain', { method: 'POST' });
                const data = await response.json();
                const statusList = data.status;
    
                // 清空之前的状态
                const retrainStatusElement = document.getElementById('retrain-status');
                retrainStatusElement.innerHTML = '';
    
                // 显示每个步骤的状态
                statusList.forEach(status => {
                    const statusItem = document.createElement('p');
                    statusItem.innerText = status;
                    retrainStatusElement.appendChild(statusItem);
                });
            } catch (error) {
                document.getElementById('retrain-status').innerText = "Error: Unable to retrain the model.";
            }
        }
    </script>
</head>
<body>
    <h1>Predict the Iris Flower Class</h1>
      <!-- Display database connection status -->
      <div>
        <h3>Database Status:</h3>
        <p id="db-status">Click the button to check database connection.</p>
        <button onclick="checkDatabaseConnection()">Test Database Connection</button>
    </div>

    <div>
        <h3>Retrain the Model:</h3>
        <button onclick="retrainModel()">Retrain</button>
        <p id="retrain-status"></p>
    </div>

    <form action="/predict" method="POST">
        <label for="sepal_length">Sepal Length:</label>
        <input type="text" id="sepal_length" name="sepal_length" required><br>

        <label for="sepal_width">Sepal Width:</label>
        <input type="text" id="sepal_width" name="sepal_width" required><br>

        <label for="petal_length">Petal Length:</label>
        <input type="text" id="petal_length" name="petal_length" required><br>

        <label for="petal_width">Petal Width:</label>
        <input type="text" id="petal_width" name="petal_width" required><br>

        <input type="submit" value="Predict">
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
